$length: 500px;
$gap: 20px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Archivo Black";
    src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#turn-label {
    font-family: 'Archivo Black', serif;
}

#tic-tac-toe-container {
    width: $length + calc($gap * 2);
    height: $length + calc($gap * 2);
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, calc($length / 3));
    grid-template-rows: repeat(3, calc($length / 3));
    gap: $gap;

    .box {
        background-color: white;
        font-family: 'Archivo Black', serif;
        font-size: 7rem;
        @include flexCenter;
    }
}