$length: 500px;
$gap: 20px;
$background-color: #ffcbe1;
$accent-color: #d82a75;
$X-O-color: #f6afcc;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Archivo Black";
    src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    @include flexCenter();
    flex-direction: column;
    background-color: $background-color;
}

#turn-label {
    font-family: 'Archivo Black', serif;
}

#tic-tac-toe-container {
    width: $length + calc($gap * 2);
    height: $length + calc($gap * 2);
    background-color: $accent-color;
    display: grid;
    grid-template-columns: repeat(3, calc($length / 3));
    grid-template-rows: repeat(3, calc($length / 3));
    gap: $gap;

    .box {
        @include flexCenter;
        background-color: $background-color;
        font-family: 'Archivo Black', serif;
        font-size: 7rem;
        color: $X-O-color;

        &:hover {
            cursor: pointer;
        }
    }
}

#main {
    @include flexCenter();
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

#footer {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 1rem;
    
    a {
        color: $accent-color;
    }
}

.label {
    font-family: 'Archivo Black', monospace;
    color: $accent-color;
}